*.obj
*.tlog
*.pdb
*.db
*.suo
*.db-shm
*.db-wal
/xerces-c-3.2.0-source/build
/fox-1.6.54/windows/vcpp/foxdll/Debug/foxdll.log
/fox-1.6.54/windows/vcpp/foxdll/Debug/version.res
/fox-1.6.54/windows/vcpp/foxdll/Release/foxdll.log
/fox-1.6.54/windows/vcpp/foxdll/Release/version.res
/fox-1.6.54_64/windows/vcpp/Backup/win32.sln
/fox-1.6.54_64/windows/vcpp/UpgradeLog.htm
/fox-1.6.54_64/windows/vcpp/foxdll/x64/Debug/foxdll.log
/fox-1.6.54_64/windows/vcpp/foxdll/x64/Debug/version.res
/fox-1.6.54_64/windows/vcpp/foxdll/x64/Release/foxdll.log
/fox-1.6.54_64/windows/vcpp/foxdll/x64/Release/version.res
